In [2]:
#Instalamos Pandas Profiling para ayudar a hacer el Analisis Exploratorio de Datos (EDA)
#pip install -U pandas-profiling[notebook,unicode]
#from pandas_profiling import ProfileReport

In [3]:
#importamos las librerias necesarias
import pandas as pd
import sqlalchemy as sql

Importamos los datos

In [4]:
df_amazon = pd.read_csv("../Datasets/amazon_prime_titles.csv") #importamos el dataframe de los datos que corresponden a la plataforma amazon prime
df_disney = pd.read_csv("../Datasets/disney_plus_titles.csv") #importamos el dataframe de los datos que corresponden a la plataforma disney plus
df_hulu = pd.read_csv("../Datasets/hulu_titles.csv") #importamos el dataframe de los datos que corresponden a la plataforma Hulu
df_netflix = pd.read_json("../Datasets/netflix_titles.json") #importamos el dataframe de los datos que corresponden a la plataforma Amazon

In [5]:
comedy = df_amazon['listed_in'].str.contains('Comedy') #Agrego filtro para comprobar la cantidad de peliculas de comedia que se encuentran en la plataforma Amazon y que coincida con la consigna del documento
df_amazon[comedy].shape[0]

2099

Agregregamos columna con dato refrente a la plataforma

In [6]:
df_amazon['platform'] = 'amazon' #agregamos una columna espeficicando la plataforma de streaming a la cual pertenece
df_disney['platform'] = 'disney' #agregamos una columna espeficicando la plataforma de streaming a la cual pertenece
df_hulu['platform'] = 'hulu' #agregamos una columna espeficicando la plataforma de streaming a la cual pertenece
df_netflix['platform'] = 'netflix' #agregamos una columna espeficicando la plataforma de streaming a la cual pertenece

Hacemos un EDA de los datos una vexz importados para establecer la necesidad del tratamiento de los datos

In [7]:
plataformas = [df_netflix, df_hulu, df_amazon, df_disney]

In [8]:
df_amazon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9668 entries, 0 to 9667
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       9668 non-null   object
 1   type          9668 non-null   object
 2   title         9668 non-null   object
 3   director      7586 non-null   object
 4   cast          8435 non-null   object
 5   country       672 non-null    object
 6   date_added    155 non-null    object
 7   release_year  9668 non-null   int64
 8   rating        9331 non-null   object
 9   duration      9668 non-null   object
 10  listed_in     9668 non-null   object
 11  description   9668 non-null   object
 12  platform      9668 non-null   object
dtypes: int64(1), object(12)
memory usage: 982.0+ KB

In [9]:
df_disney.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1450 entries, 0 to 1449
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       1450 non-null   object
 1   type          1450 non-null   object
 2   title         1450 non-null   object
 3   director      977 non-null    object
 4   cast          1260 non-null   object
 5   country       1231 non-null   object
 6   date_added    1447 non-null   object
 7   release_year  1450 non-null   int64
 8   rating        1447 non-null   object
 9   duration      1450 non-null   object
 10  listed_in     1450 non-null   object
 11  description   1450 non-null   object
 12  platform      1450 non-null   object
dtypes: int64(1), object(12)
memory usage: 147.4+ KB

In [10]:
df_netflix.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8807 entries, 0 to 8806
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
 12  platform      8807 non-null   object
dtypes: int64(1), object(12)
memory usage: 963.3+ KB

In [11]:
df_hulu.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3073 entries, 0 to 3072
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       3073 non-null   object
 1   type          3073 non-null   object
 2   title         3073 non-null   object
 3   director      3 non-null      object
 4   cast          0 non-null      float64
 5   country       1620 non-null   object
 6   date_added    3045 non-null   object
 7   release_year  3073 non-null   int64
 8   rating        2553 non-null   object
 9   duration      2594 non-null   object
 10  listed_in     3073 non-null   object
 11  description   3069 non-null   object
 12  platform      3073 non-null   object
dtypes: float64(1), int64(1), object(11)
memory usage: 312.2+ KB

Normalizaci√≥n de datos

In [12]:
for i in plataformas: #verifico que las columnas sean iguales en cada uno de los df
    print(i.columns)

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description',
       'platform'],
      dtype='object')
Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description',
       'platform'],
      dtype='object')
Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description',
       'platform'],
      dtype='object')
Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description',
       'platform'],
      dtype='object')

In [13]:
df_hulu['rating'].unique() #Nos percatamos que la columna rating contiene la duraci√≥n de algunas peliculas en la Plataforma Hulu

array(['TV-MA', nan, 'PG-13', 'R', 'TV-14', 'PG', 'TV-PG', 'NOT RATED',
       'G', 'TV-G', '2 Seasons', 'TV-Y', '93 min', '4 Seasons', 'TV-Y7',
       '136 min', '91 min', '85 min', '98 min', '89 min', '94 min',
       '86 min', '3 Seasons', '121 min', '88 min', '101 min', '1 Season',
       '83 min', '100 min', '95 min', '92 min', '96 min', '109 min',
       '99 min', '75 min', '87 min', '67 min', '104 min', '107 min',
       '84 min', '103 min', '105 min', '119 min', '114 min', '82 min',
       '90 min', '130 min', '110 min', '80 min', '6 Seasons', '97 min',
       '111 min', '81 min', '49 min', '45 min', '41 min', '73 min',
       '40 min', '36 min', '39 min', '34 min', '47 min', '65 min',
       '37 min', '78 min', '102 min', '129 min', '115 min', '112 min',
       'NR', '61 min', '106 min', '76 min', '77 min', '79 min', '157 min',
       '28 min', '64 min', '7 min', '5 min', '6 min', '127 min',
       '142 min', '108 min', '57 min', '118 min', '116 min', '12 Seasons',
       '71 min'], dtype=object)

In [14]:
filtro_rating = ( #Agregamos un filtro en rating para localizar los que contienen "min" y "Season" lo cual corresponde a la duraci√≥n de las peliculas
    df_hulu["rating"].str.contains("min")
    | df_hulu["rating"].str.contains("Season")
    & df_hulu["rating"].notna()
    & df_hulu["duration"].isna()
)

In [15]:
df_hulu.loc[filtro_rating,"duration"] = df_hulu.loc[filtro_rating,"rating"] #Copiamos el contenido de la columna rating en duration, para completar algunos de los datos faltantes.

In [16]:
df_netflix['rating'].unique() #Nos percatamos que la columna rating contiene la duraci√≥n de algunas peliculas.

array(['PG-13', 'TV-MA', 'PG', 'TV-14', 'TV-PG', 'TV-Y', 'TV-Y7', 'R',
       'TV-G', 'G', 'NC-17', '74 min', '84 min', '66 min', 'NR', None,
       'TV-Y7-FV', 'UR'], dtype=object)

In [17]:
filtro_rating = ( #Agregamos un filtro en rating para localizar los que contienen "min" y "Season" lo cual corresponde a la duraci√≥n de las peliculas
    df_netflix["rating"].str.contains("min")
    | df_netflix["rating"].str.contains("Season")
    & df_netflix["rating"].notna()
    & df_netflix["duration"].isna()
)
df_netflix[filtro_rating]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,platform
5541,s5542,Movie,Louis C.K. 2017,Louis C.K.,Louis C.K.,United States,"April 4, 2017",2017,74 min,None,Movies,"Louis C.K. muses on religion, eternal love, gi...",netflix
5794,s5795,Movie,Louis C.K.: Hilarious,Louis C.K.,Louis C.K.,United States,"September 16, 2016",2010,84 min,None,Movies,Emmy-winning comedy writer Louis C.K. brings h...,netflix
5813,s5814,Movie,Louis C.K.: Live at the Comedy Store,Louis C.K.,Louis C.K.,United States,"August 15, 2016",2015,66 min,None,Movies,The comic puts his trademark hilarious/thought...,netflix

In [18]:
df_netflix.loc[filtro_rating,"duration"] = df_netflix.loc[filtro_rating,"rating"] #Copiamos el contenido de la columna rating en duration, para completar algunos de los datos faltantes.

In [19]:
df_platform = pd.concat(plataformas, ignore_index= True) #Concatenamos los 4 dataframes de las diferentes plataformas en uno solo y facilitar el tratamiento de  los datos

In [20]:
df_platform.drop(['show_id'], axis=1, inplace=True) #Eliminamos la columna 'show_id', debido a que no brinda informaci√≥n relevante

In [21]:
df_platform.drop(['description'], axis=1, inplace=True) #Eliminamos la columna 'description', debido a que la informaci√≥n no es relevante para el ejercicio

In [22]:
df_platform.drop(['director'], axis=1, inplace=True) #Eliminamos la columna 'director', debido a que la informaci√≥n no es relevante para el ejercicio

In [23]:
df_platform.drop(['date_added'], axis=1, inplace=True) #Eliminamos la columna 'date_added', debido a que la informaci√≥n no es relevante para el ejercicio

In [24]:
df_platform.drop(['rating'], axis=1, inplace=True) #Eliminamos la columna 'rating', debido a que la informaci√≥n no es relevante para el ejercicio

In [25]:
df_platform.drop(['country'], axis=1, inplace=True) #Eliminamos la columna 'country', debido a que la informaci√≥n no es relevante para el ejercicio

In [26]:
df_platform.head(-5)

,type,title,cast,release_year,duration,listed_in,platform
0,Movie,Dick Johnson Is Dead,None,2020,90 min,Documentaries,netflix
1,TV Show,Blood & Water,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",2021,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries",netflix
2,TV Show,Ganglands,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",2021,1 Season,"Crime TV Shows, International TV Shows, TV Act...",netflix
3,TV Show,Jailbirds New Orleans,None,2021,1 Season,"Docuseries, Reality TV",netflix
4,TV Show,Kota Factory,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",2021,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",netflix
...,...,...,...,...,...,...,...
22988,TV Show,Disney Mech-X4,"Nathaniel Potvin, Raymond Cham, Kamran Lucas, ...",2016,2 Seasons,"Action-Adventure, Comedy, Science Fiction",disney
22989,TV Show,Imagination Movers,"Rich Collins, Dave Poche, Scott Durbin, Scott ...",2008,3 Seasons,"Kids, Music",disney
22990,Movie,Tomorrowland,"George Clooney, Hugh Laurie, Britt Robertson, ...",2015,131 min,"Action-Adventure, Science Fiction",disney
22991,Movie,Aquamarine,"Jake McDorman, Arielle Kebbel, Claudia Karvan,...",2006,104 min,"Comedy, Coming of Age, Fantasy",disney
22992,Movie,Ice Age: Dawn Of The Dinosaurs,"Ray Romano, John Leguizamo, Denis Leary, Simon...",2009,97 min,"Animation, Comedy, Family",disney

In [27]:
df_platform['duration'] = df_platform['duration'].str.replace('min','').str.replace('Seasons','').str.replace('Season','') #Quitamos el texto correspondiente a la duraci√≥n, entendiendo que 'Movie' esta en minutos y 'TV Show' en Seasons
df_platform.head(-5)

,type,title,cast,release_year,duration,listed_in,platform
0,Movie,Dick Johnson Is Dead,None,2020,90,Documentaries,netflix
1,TV Show,Blood & Water,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",2021,2,"International TV Shows, TV Dramas, TV Mysteries",netflix
2,TV Show,Ganglands,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",2021,1,"Crime TV Shows, International TV Shows, TV Act...",netflix
3,TV Show,Jailbirds New Orleans,None,2021,1,"Docuseries, Reality TV",netflix
4,TV Show,Kota Factory,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",2021,2,"International TV Shows, Romantic TV Shows, TV ...",netflix
...,...,...,...,...,...,...,...
22988,TV Show,Disney Mech-X4,"Nathaniel Potvin, Raymond Cham, Kamran Lucas, ...",2016,2,"Action-Adventure, Comedy, Science Fiction",disney
22989,TV Show,Imagination Movers,"Rich Collins, Dave Poche, Scott Durbin, Scott ...",2008,3,"Kids, Music",disney
22990,Movie,Tomorrowland,"George Clooney, Hugh Laurie, Britt Robertson, ...",2015,131,"Action-Adventure, Science Fiction",disney
22991,Movie,Aquamarine,"Jake McDorman, Arielle Kebbel, Claudia Karvan,...",2006,104,"Comedy, Coming of Age, Fantasy",disney
22992,Movie,Ice Age: Dawn Of The Dinosaurs,"Ray Romano, John Leguizamo, Denis Leary, Simon...",2009,97,"Animation, Comedy, Family",disney

In [28]:
df_platform['duration'] = pd.to_numeric(df_platform['duration']) #Se convierte la columna 'duration' a float

In [29]:
df_platform['title'] = df_platform['title'].str.strip() #Se eliminan los espacion innecesarios al final o al inicio de los nombres
df_platform['cast'] = df_platform['cast'].str.strip()
df_platform['listed_in'] = df_platform['listed_in'].str.strip()

In [30]:
df_platform

,type,title,cast,release_year,duration,listed_in,platform
0,Movie,Dick Johnson Is Dead,None,2020,90.0,Documentaries,netflix
1,TV Show,Blood & Water,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",2021,2.0,"International TV Shows, TV Dramas, TV Mysteries",netflix
2,TV Show,Ganglands,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",2021,1.0,"Crime TV Shows, International TV Shows, TV Act...",netflix
3,TV Show,Jailbirds New Orleans,None,2021,1.0,"Docuseries, Reality TV",netflix
4,TV Show,Kota Factory,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",2021,2.0,"International TV Shows, Romantic TV Shows, TV ...",netflix
...,...,...,...,...,...,...,...
22993,Movie,X-Men Origins: Wolverine,"Hugh Jackman, Liev Schreiber, Danny Huston, wi...",2009,108.0,"Action-Adventure, Family, Science Fiction",disney
22994,Movie,Night at the Museum: Battle of the Smithsonian,"Ben Stiller, Amy Adams, Owen Wilson, Hank Azar...",2009,106.0,"Action-Adventure, Comedy, Family",disney
22995,Movie,Eddie the Eagle,"Tom Costello, Jo Hartley, Keith Allen, Dickon ...",2016,107.0,"Biographical, Comedy, Drama",disney
22996,Movie,Bend It Like Beckham,"Parminder Nagra, Keira Knightley, Jonathan Rhy...",2003,112.0,"Buddy, Comedy, Coming of Age",disney
22997,Movie,Captain Sparky vs. The Flying Saucers,Charlie Tahan,2012,2.0,"Action-Adventure, Animals & Nature, Animation",disney

In [31]:
requisitos = ['type', 'title', 'duration']
duplicados = df_platform.duplicated(requisitos, keep= False) #Se establece filtro para ver los duplicados y ver si es necesario eliminar los duplicados

In [32]:
df_platform[duplicados].sort_values('title') #Se determina que no es necesario eliminar los duplicados debia a que no son la misma pelicula o que estas no se encuentran en la misma plataforma.

,type,title,cast,release_year,duration,listed_in,platform
19353,Movie,1 Night in San Diego,"Laura Ashley Samuels, Jenna Ushkowitz, Alexand...",2020,86.0,Comedy,amazon
9680,Movie,1 Night in San Diego,NaN,2020,86.0,Comedy,hulu
16419,Movie,10.0 Earthquake,"Henry Ian Cusick, David Chokachi, Jeffrey Jone...",2014,87.0,Science Fiction,amazon
11220,Movie,10.0 Earthquake,NaN,2014,87.0,"Action, Adventure",hulu
17012,Movie,100 Streets,"Idris Elba, Gemma Arterton, Charlie Creed-Mile...",2017,94.0,"Action, Drama, Suspense",amazon
...,...,...,...,...,...,...,...
11833,TV Show,Yu-Gi-Oh! 5D's,NaN,2008,2.0,"Anime, International",hulu
11909,TV Show,Yu-Gi-Oh! ARC-V,"Michael Liscio Jr., Emily Bauer",2018,3.0,"Action, Adventure, Animation",amazon
10573,TV Show,Yu-Gi-Oh! ARC-V,NaN,2016,3.0,"Action, Anime, International",hulu
2512,Movie,Zaki Chan,"Ahmed Helmy, Yasmin Abdulaziz, Hassan Hosny, H...",2005,109.0,"Comedies, International Movies, Romantic Movies",netflix
16585,Movie,Zaki Chan,"Ahmed Helmy, Yasmin Abdulaziz",2005,109.0,"Comedy, Romance",amazon

In [33]:
comedy = df_amazon['listed_in'].str.contains('Comedy') #Agrego filtro para comprobar la cantidad de peliculas de comedia que se encuentran en la plataforma Amazon
df_amazon[comedy].shape[0]

2099

In [34]:
df_platform[df_platform['listed_in'].str.contains("Comedy")]

,type,title,cast,release_year,duration,listed_in,platform
278,Movie,Lokillo: Nothing's the Same,Lokillo Florez,2021,64.0,Stand-Up Comedy,netflix
359,Movie,The Original Kings of Comedy,"Steve Harvey, D.L. Hughley, Cedric the Enterta...",2000,111.0,Stand-Up Comedy,netflix
388,TV Show,Plastic Cup Boyz: Laughing My Mask Off!,"Joey Wells, Will 'Spank' Horton, Na'im Lynn",2021,1.0,"Stand-Up Comedy & Talk Shows, TV Comedies",netflix
400,TV Show,Revelations: The Masters of the Universe: Reve...,"Kevin Smith, Tiffany Smith, Robert David, Sara...",2021,1.0,"Anime Series, Stand-Up Comedy & Talk Shows",netflix
475,Movie,The Stand-Up,"Iva Pazderkov√°, Luk√°≈° Pavl√°sek, Daniel ƒåech, P...",2019,93.0,Stand-Up Comedy,netflix
...,...,...,...,...,...,...,...
22991,Movie,Aquamarine,"Jake McDorman, Arielle Kebbel, Claudia Karvan,...",2006,104.0,"Comedy, Coming of Age, Fantasy",disney
22992,Movie,Ice Age: Dawn Of The Dinosaurs,"Ray Romano, John Leguizamo, Denis Leary, Simon...",2009,97.0,"Animation, Comedy, Family",disney
22994,Movie,Night at the Museum: Battle of the Smithsonian,"Ben Stiller, Amy Adams, Owen Wilson, Hank Azar...",2009,106.0,"Action-Adventure, Comedy, Family",disney
22995,Movie,Eddie the Eagle,"Tom Costello, Jo Hartley, Keith Allen, Dickon ...",2016,107.0,"Biographical, Comedy, Drama",disney
22996,Movie,Bend It Like Beckham,"Parminder Nagra, Keira Knightley, Jonathan Rhy...",2003,112.0,"Buddy, Comedy, Coming of Age",disney

In [35]:
platform_group = df_platform.groupby(by = ["platform"])

In [36]:
platform_group.get_group('hulu')

,type,title,cast,release_year,duration,listed_in,platform
8807,Movie,Ricky Velez: Here's Everything,NaN,2021,NaN,"Comedy, Stand Up",hulu
8808,Movie,Silent Night,NaN,2020,94.0,"Crime, Drama, Thriller",hulu
8809,Movie,The Marksman,NaN,2021,108.0,"Action, Thriller",hulu
8810,Movie,Gaia,NaN,2021,97.0,Horror,hulu
8811,Movie,Settlers,NaN,2021,104.0,"Science Fiction, Thriller",hulu
...,...,...,...,...,...,...,...
11875,TV Show,Star Trek: The Original Series,NaN,1966,3.0,"Action, Adventure, Classics",hulu
11876,TV Show,Star Trek: Voyager,NaN,1997,7.0,"Action, Adventure, Science Fiction",hulu
11877,TV Show,The Fades,NaN,2011,1.0,"Horror, International, Science Fiction",hulu
11878,TV Show,The Twilight Zone,NaN,1959,5.0,"Classics, Science Fiction, Thriller",hulu
11879,TV Show,Tokyo Magnitude 8.0,NaN,2009,1.0,"Anime, Drama, International",hulu

In [37]:
plataforma = "hulu"
a√±o = 2018
tipo = "Movie"

filtro = (df_platform['platform'] == plataforma ) & (df_platform['release_year']== a√±o) & (df_platform['type'] == tipo)

index = df_platform.loc[filtro, "duration"].idxmax()
df_platform.loc[index,:]

type                           Movie
title                           Loro
cast                             NaN
release_year                    2018
duration                       157.0
listed_in       Drama, International
platform                        hulu
Name: 10756, dtype: object

In [38]:
plataforma = "netflix"

platform_group = df_platform.groupby(by=["platform"])
platform_group.get_group(plataforma)["type"].value_counts()

Movie      6131
TV Show    2676
Name: type, dtype: int64

In [39]:
genero = "Comedy"

platform_group = df_platform[df_platform["listed_in"].str.contains(genero)].groupby(by=["platform"])
platform_group.aggregate('count')["listed_in"]

platform
amazon     2099
disney      526
hulu        667
netflix     399
Name: listed_in, dtype: int64

Se conecta el DF a sqlite y se exportan los datos a esta database

In [40]:
engine = sql.create_engine("sqlite:///../database/all_platforms.db")

In [41]:
df_platform.to_sql('platforms', con = engine, if_exists='replace')

22998